/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/overpass-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/overpass-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/overpass-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.tp-1-bold {
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0px;
    font-weight: 700;
}

.tp-2-bold {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 700;
}

.tp-3-bold {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 700;
}

.tp-4-bold {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 2px;
    font-weight: 700;
}

.tp-4-regular {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
}

.tp-5-bold {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.87px;
    font-weight: 700;
}

.tp-5-semibold {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.17px;
    font-weight: 600;
}

.tp-5-regular {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 400;
}

